.article {
  position: absolute;
  top: 170px;
  padding: 40px;
  left: 40px;
}

.art_title {
  margin: 5px;
}

.article_sub {
  font-size: large;
  margin: 10px;
  width: 80%;
}

.art_head {
  width: 80%;
  margin: 5px;
  height: auto;
}

.art_text {
  text-indent: 50px;
  width: 80%;
}
