#main {
  position: absolute;
  margin: 70px;
  top: 210px;
  width: 80%;
  height: 400px;

#me {
  height: 100%;
  width: auto;
  border-width: 5px;
  border-style: solid;
}

#me_accent {
  width: 100%;
  background-color: rgb(186, 204, 196);
  height: 33%;
  top: 33%px;
}

#sig {
  width: 70%;
  padding: 10px;
}

#greet {
  padding: 5px;
  width: 100%;
}

#hi {
  font-size: larger;
}
