#home_main {
  opacity: 0;
  position: absolute;
  top: 120px;
  width: 65%;
  left: 17.5%;
  height: 75%;
  min-width: 600px;
  top: 0px;
}

th {
  width: 30%;
  font-size: small;
  font-weight:lighter;
}

.home_p {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  line-height: 30px;
}

.strs {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    width: 80%;
    position: absolute;
    left: 5%;
}

#str {
    top: 230px;
}

#str2 {
    top: 270px;
}

#me_frame {
    position:absolute;
    background-color: rgb(186, 204, 196);
    width: 350px;
    height: 400px;
}

#me {
    position: absolute;
    width: 350px;
    left: 25px;
    top: 15px;
    border-width: 2px;
    border-color: black;
    border-style:groove
}

#class {
    text-align: left;
}

#mobile {
  visibility: hidden;
  display: none;
  width: 0%;
  height: 0%;
}

@media only screen and (max-width: 600px) {
  #main {
    display: none;
    width: 0%;
  }

  #mobile {
    position: absolute;
    visibility: visible;
    top: 30%;
    width: 90%;
    left: 5%;
    display:block;
  }

  #me {
    margin: 0px;
  }

  #sig {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 40px;
  }
}