#main {
  position: absolute;
  margin: 70px;
  top: 120px;
  width: 75%;
  height: 400px;
}

th {
  width: 50%;
  font-size: small;
  font-weight:lighter;
}

#me {
  height: auto;
  width: 90%;
  margin-right: 30px;
}


#sig {
  width: 40%;
  padding-top: 10px;
  margin-right: 60%;
}

#greet {
  text-align: left;
  padding: 5px;
  width: 100%;
}

#hi {
  font-size: larger;
