th {
  padding-bottom: 1%;
  min-width: 250px;
  width: 250px;
  vertical-align: top;
  border: 1px;
  border-style: outset;
  border-color: lightgrey;
}

#links_tab {
  position: absolute;
  width: 90%;
  top: 190px;
  border-spacing: 80px 20px;
}

.date {
  color: black;
  padding-top: 30px;
}

.art_link {
  padding: 0px;
}

.link_name {
  font-weight: bolder;
  color: black;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10%
}

.description {
  margin-left: 15%;
  color: black;
  text-align: left;
  font-size: smaller;
  font-weight: lighter;
  width: 70%;
  padding-top: 30px;
}

.link_img {
  margin: 10px;
  width: 90%;
  border-style: outset;
  border-width: 0px;
  border-bottom-width: 0px;
  border-color: rgb(186, 204, 196);
  padding: 0px;
}